.option-set-title {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 0px;
}
.wizard-option .tooltip,
.ProductWizardStepOptionSet .tooltip {
    min-width: 200px;
}
.choosable-option {
    cursor: pointer;
}
.choosable-option .fa-info-circle {
    cursor: help;
}
.choosable-option .fa-check,
.product-box .fa-check {
    display: none;
}
.choosable-option.picked .fa-check,
.product-box.picked .fa-check {
    display: block;
}
.card.choosable-option>.card-title {
    border-bottom-width: 0px;
}
.card.choosable-option:hover {
    border-color: rgba(27,117,186,.45);
    box-shadow: 0 1px 1px rgba(27,117,186,.05);
}
.card.choosable-option:hover>.card-title {
    color: #333;
    background-color: rgba(27,117,186,.35);
    border-color: rgba(27,117,186,.45);
}
.card.choosable-option.picked {
    color: #fff;
    border-color: rgba(27,117,186,1);
    box-shadow: 0 1px 1px rgba(27,117,186,.25);
    background-color: rgba(27,117,186,.95);
}
#product-wizard-step .info-box {
    height: calc(100% - 86px);
}
.wizard-option.pickable {
    transition: box-shadow 500ms;
}
.wizard-option.pickable .wizard-option-picker {
    cursor: pointer;
    transition: color 500ms, border-color 500ms, background-color 500ms;
}
.wizard-option.pickable.not-picked .btn-primary {
    transition: color 500ms, border-color 500ms, background-color 500ms;
}
.wizard-option.pickable.not-picked .wizard-option-picker {
    color: #919191 !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
}
.wizard-option.pickable.not-picked {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) inset !important;
    box-shadow: none !important;
}
.wizard-option.pickable.not-picked:hover {
    box-shadow: none !important;
}
.wizard-option.pickable.not-picked .card-header {
    background-color: #e8e8e8 !important;
    color: #919191 !important;
}
.wizard-option.pickable.not-picked .btn-primary {
    background-color: #e8e8e8 !important;
    border-color: #e8e8e8 !important;
    color: #919191 !important;
}
#ProductWizardCartSummary.loading::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url(/resources/vendor/silvercart/silvercart/client/img/loader-circle.gif);
    background-repeat: no-repeat;
    background-position: center;
}
form[name="ProductWizardStepForm"] .btn-additional-options {
    padding: 10px 20px;
    margin: 10px -10px -10px -10px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    cursor: pointer;
    transition: color 500ms, background-color 500ms;
}
form[name="ProductWizardStepForm"] .btn-additional-options .fa:last-child {
    float: right;
    line-height: 1.5;
    transition: margin 500ms;
}
form[name="ProductWizardStepForm"] .btn-additional-options:hover {
    color: #ffffff;
    background-color: #919191;
}
form[name="ProductWizardStepForm"] .btn-additional-options:hover .fa:last-child {
    margin-right: -10px;
}
form[name="ProductWizardStepForm"] .radio-option-picker:nth-child(n+4) {
    display: none !important;
}
.radio-option-picker {
    min-height: 80px;
    transition: color 500ms;
}
.radio-option-picker .label {
    float: left;
    width: calc(100% - 38px);
}
.radio-option-picker .fa {
    transition: color 500ms;
}
.radio-option-picker:not(.checked) .fa.text-blue {
    color: #ffffff !important;
}