.option-set-title {
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 0px;
}
.ProductWizardStepOptionSet .tooltip {
    min-width: 200px;
}
.choosable-option {
    cursor: pointer;
}
.choosable-option .fa-info-circle {
    cursor: help;
}
.choosable-option .fa-check,
.product-box .fa-check {
    display: none;
}
.choosable-option.picked .fa-check,
.product-box.picked .fa-check {
    display: block;
}
.card.choosable-option>.card-title {
    border-bottom-width: 0px;
}
.card.choosable-option:hover {
    border-color: rgba(27,117,186,.45);
    box-shadow: 0 1px 1px rgba(27,117,186,.05);
}
.card.choosable-option:hover>.card-title {
    color: #333;
    background-color: rgba(27,117,186,.35);
    border-color: rgba(27,117,186,.45);
}
.card.choosable-option.picked {
    color: #fff;
    border-color: rgba(27,117,186,1);
    box-shadow: 0 1px 1px rgba(27,117,186,.25);
    background-color: rgba(27,117,186,.95);
}
#product-wizard-step .info-box {
    height: calc(100% - 86px);
}
.product-box {
    margin: -5px -5px 10px -5px;
    padding: 5px;
    height: calc(100% - 10px);
    position: relative;
    top: 5px;
}
.product-box.picked {
    color: #fff;
    border-color: rgba(27,117,186,1);
    box-shadow: 0 1px 1px rgba(27,117,186,.25);
    background-color: rgba(27,117,186,.75);
    border-radius: 4px;
}
.product-box.picked a:not([class^="spinner-"]) {
    color: #fff;
}
.product-box.picked input {
    color: #000;
}